spring:
  application:
    name: microservice-social-cloud
  resources:
    static-locations:
    - file:logs
    - classpath:static
    
  mvc:
    static-path-pattern: /**
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${clientId}
            client-secret: ${clientSecret}
server:
    servlet:
      session: 
        persistent: true
    port: 80
logging:
  level:
    root: INFO
    org.springframework.security: debug