server:
  port: 8080 
spring:
  application:
    name: microservice-oauth2-server
  security:
    user:
      name: system
      password: password
      roles:
      - system
  jpa:
    database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    name: trade
    data-username: trade
    username: trade
    password: password
    driver-class-name:  com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/trade?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=GMT%2B8

eureka:
  client:
    service-url:
      defaultZone: http://system:password@localhost:9081/eureka/